.gradle
.settings
bin
build
#dep
dep-1.7.2
dep-1.7.10
dep
dep-src
eclipse
gradle
#src
.classpath
.project
build.cmd
#build.gradle
build.gradle_backup
#changelog.txt
gradlew
gradlew.bat
danylibs
jcontrol.notes
raw_textures